/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');

/* Asterisk wildcard selector to override default style added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3E3E46;
    font-family: 'Roboto', serif;
}

/* Header */
header {
    background-color: #000000;
    position: fixed;
    width: 100%;
    padding: 0.5rem 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

header a {
    text-decoration: none;
    color: #ff2728;
}

h1 {
    font-family: 'Anton SC', sans-serif;
    letter-spacing: 2px;
}

h2,
h3 {
    font-family: 'Wittgenstein', serif;
    text-transform: uppercase;
    color: #010101;
}

#menu {
    list-style-type: none;
    font-size: 105%;
    letter-spacing: 3px;
    margin-top: 0.5rem;
}

#menu>li {
    margin-bottom: 0.2rem;
}

.live {
    border-bottom: 3px solid #ff2728;
}

/* dropdown option for navbar */
nav {
    position: absolute;
    background-color: #000000;
    width: 100%;
    left: 0%;
    padding: 0 0.5rem;
    display: none;
    top: 100%;
}

/* dropdown toggle */
#dropdown-box:checked~nav {
    display: block;
}

#dropdown-box {
    display: none;
}

.dropdown-box-label {
    font-size: 2rem;
    color: #ff2728;
}

#logo {
    font-size: 250%;
    line-height: 75px;
    margin: 0 0.5rem;
}

/* Main */
main {
    /* Make main element take up any left over space */
    flex: 1 0 auto;
    margin-top: 90px;
    background-color: #000000;
}

/* squad image background */
#squad {
    height: 600px;
    width: 100%;
    background: url("../images/cpd-squad.jpg") no-repeat center center/cover;
    position: relative;
}

#squad-text {
    background-color: rgba(167, 123, 3, 0.9);
    font-size: 120%;
    position: absolute;
    bottom: 50px;
    left: 10px;
    letter-spacing: 2.5px;
    width: 80%;
    min-height: 100px;
    padding-left: 15px;
}

/* about the club section */

#the-club {
    width: 90%;
    margin: 20px auto;
}

#the-club h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: underline;
}

#about,
#fixtures,
#results,
#standings {
    margin-bottom: 20px;
}

hr {
    border-top: 5px solid #000000;
    margin: 5px 0;
}

ul {
    list-style-type: none;
}

/* table for results and standings */
.center {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;

}

table {
    font-family: 'roboto'serif;
    border-collapse: collapse;
    width: 50%;
}

td,
th {
    border: 1px solid #000000;
    text-align: center;
    padding: 10px;
}

#badge-bg {
    background: url("../images/cpd-badge.jpg") no-repeat top center/cover;
    height: 90vw;
    width: 90vw;
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;
}

#badge-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Footer */
#social-media {
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    background-color: #ff2728;
    list-style-type: none;
}

.icon-social {
    color: #000000;
    font-size: 200%;
    padding: 20%;
}

/* media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        width: fit-content;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 2rem;
    }

    .dropdown-box-label {
        display: none;
    }

    #squad-text {
        width: 400px;
        left: 100px;
    }
}

/* laptops and larger (992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 3px solid #ffffff;

    }
}