/* Asterisk wildcard selector to override default style added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */ 
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */ 
    color: #3E3E46;
}

/* Header */
header {
    background-color: red;
}

/* Main */ 
main {
    background-color: blue;
    /* Make main element take up any left over space */ 
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: yellow;
}